@font-face {
    font-family: 'Dark Souls';
    src: url('fonts/OptimusPrinceps.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Dark Souls';
    user-select: none;
    overflow: hidden;
}

#menu {
    height: 650px;
}

#dark_logo_wrapper {
    width: fit-content; height: fit-content;
    position: absolute;
    top: 35%; left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4em;
}

#dark_logo {
    height: 210px;
    opacity: 0;
}

#start_button {
    width: fit-content; height: fit-content;
    position: absolute;
    top: 65%; left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.1em;
    opacity: 0;
    display: block;
}

#start_button:hover {
    cursor: pointer;
}

#menu_options {
    width: 230px;
    height: fit-content;
    position: absolute;
    top: 63%; left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: none;
}

.menu_option {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    font-size: 1.2em;
    cursor: pointer;
}

.menu_option.active_option {
    background-color: #3D1203;
}

.menu_option:hover {
    background-color: #3D1203;
}

#copyright {
    color: white;
    position: absolute;
    top: 82%; left: 50%;
    transform: translate(-50%, -50%);
    width: 850px;
    text-align: center;
    opacity: 0;
}